<mat-toolbar color="primary">
  <span>Book List ({{books.length}})</span>
</mat-toolbar>
<div *ngFor="let book of books">
  <app-book-component [title]="book.title" [category]="book.category" [description]="book.description"></app-book-component>
</div>
