<div class="spacer">
  <mat-card>
    <mat-card-title>
      <span>Title: {{title}}</span>&nbsp;<span>({{category}})</span>
    </mat-card-title>
    <mat-card-content>
      <div>Description: <span class="wrap-text">{{description}}</span></div>
    </mat-card-content>
  </mat-card>
</div>
