.book-form-container {
  .item {
    margin-bottom: 25px;
  }

  .content {
    margin: 25px 50px;
  }

  ::ng-deep .mat-wrapper {
    min-width: 400px;
  }

  .add-button {
    // float: right;
    margin-bottom: 20px;
  }
}
