<div class="book-form-container">
  <mat-toolbar color="primary" class="header">
    <span>Add Book</span>
  </mat-toolbar>
  <div class="content">
    <form id="bookAddForm" [formGroup]="bookFormGroup" (ngSubmit)="onSubmit(bookFormGroup.value)">
      <div class="item">
        <mat-form-field hintLabel="Max 30 Characters" class="mat-wrapper">
          <mat-label>Title</mat-label>
          <input type="text" name="bookTitle" [formControl]="title" placeholder="Book Title" matInput required
            maxlength="30">
          <mat-error *ngIf="title.hasError('required')">Please enter book's title</mat-error>
          <mat-error *ngIf="title.hasError('maxLength')">Maximum Length is 30 characters</mat-error>
        </mat-form-field>
      </div>
      <div class="item">
        <mat-form-field hintLable="Select a book category" class="mat-wrapper">
          <mat-label>Category</mat-label>
          <mat-select [formControl]="category" placeholder="Category" required>
            <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
          </mat-select>
          <mat-error *ngIf="category.hasError('required')">Please select book's category</mat-error>
        </mat-form-field>
      </div>
      <div class="item">
        <mat-form-field class="mat-wrapper">
          <mat-label>Book's Description</mat-label>
          <textarea id="description" name="description" [formControl]="description" matInput cdkTextareaAutosize
            cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" placeholder="Enter description about book here" required></textarea>
          <mat-error *ngIf="description.hasError('required')">Please enter book's description</mat-error>
        </mat-form-field>
      </div>
      <div class="footer">
        <button mat-raised-button class="add-button">Add</button>
      </div>
    </form>
  </div>
