.book {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(auto, 4) 1rem;

  .book-form {
    grid-column: 2/span 1;
    grid-row: 1/span 1;
    justify-self: stretch;
  }

  .book-list {
    grid-column: 2/span 1;
    grid-row: 2/span 1;
  }

}
